img.head{
    width: 20%;
}

p.heading{
    font-size: 10px;
}

img.dashboard{
    width: 16%;
}

img.dept{
    width: 12%;
}

img.staff{
    width: 16%;
}

img.inventory{
    width: 10%;
}

img.admin{
    width: 16%;
}

img.top{
    width: 25%;
}