img.head{
    width: 25%;
}

p.heading{
    font-size: 10px;
}

img.dashboard{
    width: 16%;
}

img.department{
    width: 15%;
}

img.staff{
    width: 16%;
}

img.inventory{
    width: 16%;
}

img.admin{
    width: 16%;
}